<div class="row">
  <ul class="breadcrumbs">
    <li><a href="/list">List</a></li>
    <li><a href="http://blockdiag.com/ja/blockdiag/">blockdiag</a></li>
    <li><a href="http://blockdiag.com/ja/seqdiag/index.html">seqdiag</a></li>
    <li><a href="http://blockdiag.com/ja/actdiag/index.html">actdiag</a></li>
    <li><a href="http://blockdiag.com/ja/nwdiag/index.html">nwdiag</a></li>
  </ul>
</div>

<div id="build_result" style="color: red"></div>

<form action="/<%= @action %>" method="post">
    <div class="row">
        <div class="large-3 small-3 columns">
            <select name="diagtype">
                <option value="blockdiag" <%= "selected" if @diagram.type == "blockdiag" %>>遷移図</option>
                <option value="seqdiag" <%= "selected" if @diagram.type == "seqdiag" %>>シーケンス図</option>
                <option value="actdiag" <%= "selected" if @diagram.type == "actdiag" %>>アクティビティ図</option>
                <option value="nwdiag" <%= "selected" if @diagram.type == "nwdiag" %>>ネットワーク図</option>
            </select>
        </div>
    </div>
    <textarea name="diag" cols="60" rows="30" placeholder="Diag{ A -> B }" class="small-12 columns height30"><%= @diagram.diag %></textarea>
    <input type="submit" value="<%= @button %>" class="round small button"/>
    <% if @delete %>
    <a href="/delete/<%= @action %>" class="button round small">delete</a>
    <% end %>
</form>

<% if !@diagram.diag.nil? %>
<div class="row">
    <img src="/image/<%= @diagram.id %>.png" id="diagram_image"/>
</div>

<script>
  function http_get(url, r){
    var xmlhttp = gen_xmlhttp();

    xmlhttp.open("GET", url, true);
    xmlhttp.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xmlhttp.send("");
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          document.getElementById(r).innerHTML = xmlhttp.responseText;
      }
    }
  }

  function gen_xmlhttp(){
    var xmlhttp = false;
    if(typeof ActiveXObject != "undefined"){
      try {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e) {
        xmlhttp = false;
      }
    }
    if(!xmlhttp && typeof XMLHttpRequest != "undefined") {
      xmlhttp = new XMLHttpRequest();
    }
    return xmlhttp;
  }

  var diagram_image = document.getElementById("diagram_image"); 
  diagram_image.onload = function() {
    http_get("/build_result/<%= @diagram.id %>", "build_result");
  }

</script>

<div class="row">
  <a href="/image/<%= @diagram.id %>.png" class="button tiny secondary">Download</a>
  <a href="/<%= @diagram.id %>" class="button tiny secondary">Permlink</a>
</div>
<% end %>
